__pycache__/
*.py[cod]
*.egg-info
/dist
/*.png
/*.mp4
.DS_Store
save/
tensorboard_log/
ckpt/
*.zip
*.tmp
dataset/
dataset_obs/
dataset_trpo/
dataset_trpo_2/
dataset_obs_new/
dataset_obs_new_2/
*.log
*.pt
*.pdf
